[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-unfold = "*"
pillow = "*"
django-ckeditor-5 = "*"
python-dotenv = "*"
requests = "*"
dj-database-url = "*"
django-cloudinary-storage = "*"
cloudinary = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
